$side-padding-desktop: 10em;
$side-padding-tablet: 2em;
$side-padding-phone: 1em;

$device-media: 677px; // Always has to be 2em (32px) bigger
$device-width: 645px;

// $device-media: 709px; // Always has to be 2em (32px) bigger
// $device-width: 677px;
